.banners1 {
  background-image: url("./Assets/hero_1.jpeg");
  background-size: cover;
  height: 40em;
}

.banners1 {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full screen height */
  text-align: center; /* Center text inside */

  color: white; /* Text color */
  padding: 20px;
}

.banners1 h1 {
  font-size: 6.5rem;
  font-weight: bold;
  color: white;
}

.text-white {
  color: white;
}

.bga {
  background-image: url("./Assets/gallery_1.jpeg");
  background-size: cover;
}

.actionsBg {
  background-image: url("./Assets/trishas.jpeg");
  background-size: cover;
  height: 18em;
  background-attachment: fixed;
}

body {
  overflow-x: hidden;
}

.galHead {
  font-family: "Cormorant Garamond", Georgia, serif;
}

.card-spacing {
  margin-bottom: 20px; /* Adjust spacing as needed */
}
.image-container {
  width: 200px; /* Set your desired width */
  height: 200px; /* Set your desired height */
  overflow: hidden; /* Hide anything that overflows the div */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  border: 1px solid #ccc; /* Optional: for visualization */
  background-color: #f5f5f5; /* Optional: background color */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits inside the div */
}

.image-box {
  width: 100%;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 400px;
  flex-wrap: wrap;
}
.swal2-popup-custom {
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }
  

.imgModel {
  width: 100%;
  display: flex;

  height: 400px;
}

.cursor{
  cursor: pointer;
}



/* GENERAL LOADER COMPNENET OF THE APPLICATIOMN */

.lds-heart,
.lds-heart div,
.lds-heart div:after,
.lds-heart div:before {
  box-sizing: border-box;
}
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 28px;
  left: 28px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: currentColor;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: currentColor;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
